<!DOCTYPE html>
<html>
<head>
	<title>ATM</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>

	<div class="nav">
  		<a class="btn btn-light btn-lg" href="#" role="button">ATM</a> 
  		<a class="btn btn-danger btn-lg cancel" href="/" role="button">Cancel</a>	 
	</div>

	