<% include partials/header %>

<h2>Details of Customer</h2>

<div class="container details">
	<div class="details__button">
		<a class="btn btn-primary btn-lg butt" href="#" role="button">Cash Withdrawal</a>
		<a class="btn btn-primary btn-lg butt" href="#" role="button">Balance</a>
		<a class="btn btn-primary btn-lg butt" href="#" role="button">Cash Deposit</a>
	</div>
	<div class="details__button">
		<a class="btn btn-primary btn-lg butt" href="#" role="button">Statements</a>
		<a class="btn btn-primary btn-lg butt" href="#" role="button">Transfer</a>
		<a class="btn btn-primary btn-lg butt" href="#" role="button">Other Services</a>
	</div>	
</div>

<% include partials/footer %>
