
<% include partials/header %>

	
	<div class="jumbotron container">
		<div>
			<h1 class="display-4">ATM Management System</h1>
			<a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
			<a class="btn btn-primary btn-lg" href="/signin" role="button">Sign Up</a>
		</div>
	</div>




<% include partials/footer %>